#Dproxy的规则配置文件
#模仿nginx配置文件格式

enabled  #默认开启这个分组

#这个组里局域handler
handler
{
	local-static  local  [root: /Users/Lijicheng/htdocs/xn.static]  #格式: handler命名 + method + [method参数] 
	local-opm  opm  [ip: 127.0.0.1; port: 8080; root: /Users/Lijicheng/htdocs/xn.static; ]  #格式: handler命名 + method + [method参数] 
	jspro  local [folder: /Users/Lijicheng/htdocs/xn.static/jspro]  #一个名为jspro的handler,使用local的方式处理
}

#"一行规则" 临时添加一个规则,不用写复杂的结构,一行搞定
oneline
{
	wentao.xnimg.cn  wentao-static  #不带斜杠只有域名 意思是default(相当于绑host)
	http://www.baidu.com/  remote [ip:10.2.74.90]  #指定网站首页,必须带/斜杠  后面可以使用行内handler方式
	test.renren.com  jicheng-static
	test.cooer.net                   #这一行没指定handler,默认沿用上一行的handler
	hi.renren.com  local [file: /Users/Lijicheng/works/static.hg/renren/webpager/test/webim.html]  #新版webim测试页面
	http://wpi.renren.com/wtalk/webim.htm  local [file: /Users/Lijicheng/htdocs/wtalk/ime2.htm]
}


#可以多个域名一起配置
s.xnimg.cn,a.xnimg.cn
{
	rewrite   ^/[ab]?([0-9]+)/(.*)   /$2  #重写url(静态文件版本号,就用这个改写)
	#default  jicheng-static  #这个域的默认handler,相当于绑host

	#这个域名下的规则列表
	location{
		/jspro/xn.app.webpager.js  local-static
		/jspro/pager-channel6.js   #没有指定handler,沿用上一条配置的handler
		/n/core/base-all.js?ver=1
		/webpager/*.(js|css)      local-opm  #匹配所有/webpager/路径下的请求
		/webpager/*      local-static
	}
}

wpi.renren.com
{
	#这个域名没有特殊设置,那就直接写url规则
	/wtalk/ime.htm?v=5  huihua-static
	#这个域名下只有这一条规则,其实可以直接写到oneline块中
}
